<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- 通用日志 -->
    <target xsi:type="File" name="allfile" fileName="Logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}" />
    
    <!-- 物流容器业务专用日志 -->
    <target xsi:type="File" name="containerLog"
            fileName="Logs/Container/${shortdate}_container.log"
            layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=tostring}}" />
    
    <target xsi:type="Console" name="console" />
  </targets>

  <rules>
    <!-- 所有日志写入通用文件 -->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    
    <!-- 容器相关日志额外写入专用文件 -->
    <logger name="LogisticsProduction.Net8.Application.Queries.LogisticsContainer.*" 
            minlevel="Debug" 
            writeTo="containerLog" 
            final="false" />
    
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
